{% set active = 'active' %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
{#            <li class="header">MAIN NAVIGATION</li>#}
            <li class="{% if app.request.get('_route') == 'yon_user_homepage' %}active{% endif %} treeview">
                <a href="{{ path('yon_user_homepage') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview {% if menuUsers is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span>Utilisateurs</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuUsersAll is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_user_homepage') }}"><i class="fa fa-circle-o"></i> Liste</a>
                    </li>
                    <li class="{% if menuUsersCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_user_new') }}"><i class="fa fa-circle-o"></i> Créer</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menuPrivileges is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span>Privilèges</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuModuleList is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apimodule_index') }}"><i class="fa fa-circle-o"></i> Liste module</a>
                    </li>
                    <li class="{% if menuModuleCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apimodule_new') }}"><i class="fa fa-circle-o"></i> Créer un module</a>
                    </li>
                    <li class="{% if menuFeatureList is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apifeature_index') }}"><i class="fa fa-circle-o"></i> Liste fonctionnalité</a>
                    </li>
                    <li class="{% if menuFeatureCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apifeature_new') }}"><i class="fa fa-circle-o"></i> Créer une fonctionnalité</a>
                    </li>
                    <li class="{% if menuPrivilegeManage is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apimodule_grille') }}"><i class="fa fa-circle-o"></i> Gérer les privilèges</a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>