{% set active = 'active' %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            {% set tabPrivilege = app.session.get('privileges')|split(',') %}
{#            <li class="header">MAIN NAVIGATION</li>#}
            <li class="{% if app.request.get('_route') == 'yon_user_homepage' %}active{% endif %} treeview">
                <a href="{{ path('yon_user_homepage') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview {% if menuUsers is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>Utilisateurs</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuUsersAll is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_user_homepage') }}"><i class="fa fa-circle-o"></i> Liste</a>
                    </li>
                    <li class="{% if menuUsersCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_user_new') }}"><i class="fa fa-circle-o"></i> Créer</a>
                    </li>
                </ul>
            </li>
            
{#            {% if 'apimodule_index' in tabPrivilege %}#}
            {% if 'all' in tabPrivilege %}
            <li class="treeview {% if menuPrivileges is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Privilèges</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    {#<li class="{% if menuModuleList is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apimodule_index') }}"><i class="fa fa-circle-o"></i> Liste module</a>
                    </li>
                    <li class="{% if menuModuleCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apimodule_new') }}"><i class="fa fa-circle-o"></i> Créer un module</a>
                    </li>
                    <li class="{% if menuFeatureList is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apifeature_index') }}"><i class="fa fa-circle-o"></i> Liste fonctionnalité</a>
                    </li>
                    <li class="{% if menuFeatureCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apifeature_new') }}"><i class="fa fa-circle-o"></i> Créer une fonctionnalité</a>
                    </li>#}
                    <li class="{% if menuPrivilegeManage is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apimodule_grille') }}"><i class="fa fa-circle-o"></i> Gérer les privilèges</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            <li class="treeview {% if menuParis is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Paris</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuParisAll is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apichallenge_index') }}"><i class="fa fa-circle-o"></i> Liste</a>
                    </li>
                    <li class="{% if menuParisCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apichallenge_new') }}"><i class="fa fa-circle-o"></i> Créer</a>
                    </li>
                    {% if 'apichallenge_trends' in tabPrivilege  or 'all' in tabPrivilege  %}
                    <li class="{% if menuParisTrends is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apichallenge_trends') }}"><i class="fa fa-circle-o"></i>Gérer les trending topics</a>
                    </li>
                    {% endif %}
                    {% if 'apichallenge_moderate' in tabPrivilege or 'all' in tabPrivilege %}
                    <li class="{% if menuParisModerate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apichallenge_moderate') }}"><i class="fa fa-circle-o"></i>Outil de modération</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li class="treeview {% if menuConcours is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Concours</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuConcoursAll is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apicontest_index') }}"><i class="fa fa-circle-o"></i> Liste</a>
                    </li>
                    <li class="{% if menuConcoursCreate is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('apicontest_new') }}"><i class="fa fa-circle-o"></i> Créer</a>
                    </li>
                </ul>
            </li>
            {% if 'all' in tabPrivilege %}
            <li class="treeview {% if menuBadge is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-certificate"></i>
                    <span>Badges</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuBadgeConfig is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_badge_homepage') }}"><i class="fa fa-circle-o"></i>Configuration</a>
                    </li>
                    
                </ul>
            </li>
            <li class="treeview {% if menuRank is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Classement</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuRankGeneral is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_rank_general') }}"><i class="fa fa-circle-o"></i>Général</a>
                    </li>
                    <li class="{% if menuRankContest is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_rank_homepage') }}"><i class="fa fa-circle-o"></i>Par concours</a>
                    </li>
                </ul>
            </li>
            <li class="treeview {% if menuMessage is defined %}{{ active }}{% endif %}">
                <a href="#">
                    <i class="fa fa-puzzle-piece"></i>
                    <span>Message</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% if menuMessageSend is defined %}{{ active }}{% endif %}">
                        <a href="{{ path('yon_message_homepage') }}"><i class="fa fa-circle-o"></i>Formulaire</a>
                    </li>
                </ul>
            </li>
            {% endif %}
            
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>