{% extends 'baseAdmin.html.twig' %}
{% block title %}{{ parent() }} Utillisateurs {% endblock %}
{% set menuUsers = true %}
{% set menuUsersAll = true %}
{% block stylesheets %}
    {{ parent() }}
<style type="text/css">
    #list-users_length, #list-users_filter {
        margin: 10px;
    }
    .btn-mini-rectif{
        margin-right: 5px;
    }
</style>
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
        
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Utillisateurs</h3>

                    {#<div class="box-tools">
                        <div style="width: 150px;" class="input-group input-group-sm">
                            <input type="text" placeholder="Search" class="form-control pull-right" name="table_search">

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>#}
                </div>
                <!-- /.box-header -->
   
                <div class="box-body table-responsive no-padding">
                    <table id="list-users" class="table  table-bordered table-striped">
                        <thead >
                             <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Tél n°</th>
                                <th>Rang</th>
                                <th>Nb Paris Crées</th>
                                <th>Nb Followers</th>
                                <th>Nb Followed</th>
                                <th>Nb Points</th>
                                <th>Type</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                           {# {% if utilisateurs.items|length > 0 %}
                                {% for utilisateur in utilisateurs.items %}
                                    <tr>
                                        <td><a href="#">{{ utilisateur.id }}</a></td>
                                        <td>{% if utilisateur.username is defined %}{{ utilisateur.username }}{% endif %}</td>
                                        <td>{% if utilisateur.phone_number is defined %}{{ utilisateur.phone_number }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}#}
                        </tbody>
                    </table>
                </div>
              {#  <div class="box-footer">
                    <a class="btn btn-primary" href="#">Create a new entry</a>
                    <a class="btn btn-success" href="#">Export to csv/excel</a>
                </div>     #}   
               
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
            $(function () {
                $('#list-users').DataTable(
                {
                    "aoColumns": [{"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": false}],
                     "order": [[ 0, "desc" ]],
                    "bProcessing": true,
                    "bServerSide": true,
                    "bFilter": true,
                    "sDom": '<""lf><"H"p>rt<"F"p>',
                    "sAjaxSource": "{{ path('yon_user_list_ajax') }}",
                    "oLanguage": {
                        "sProcessing": "traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédante", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        
                    }
                });
            });
            
	</script>
{% endblock %}
