{% extends 'baseAdmin.html.twig' %}
{% block title %}{{ parent() }} Classement général {% endblock %}
{% set menuRank = true %}
{% set menuRankGeneral = true %}
{% block stylesheets %}
    {{ parent() }}
<style type="text/css">
    #list-users_length, #list-users_filter {
        margin: 10px;
    }
    .btn-mini-rectif{
        margin-right: 5px;
    }
    .contest-filter {
        bottom: -37px;
        left: 330px;
        position: relative;
        width: 400px;
        z-index: 2;
    }
    .list-count {
        font-size: 2.1em;
        font-weight: bold;
        text-align: center;
    }
</style>
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
        
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Classement général</h3>
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="list-users" class="table  table-bordered table-striped">
                        <thead >
                             <tr>
                                <th>Rang</th>
                                <th>Id Utilisateur</th>
                                <th>Name</th>
                                <th>Tél n°</th>
{#                                <th>Nb Paris Crées</th>#}
                                <th>Nb Followers</th>
                                <th>Nb Followed</th>
                                <th>Nb Points</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
            $(function () {
                $('#list-users').DataTable(
                {
                    "aoColumns": [{"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}],
                     "order": [[ 0, "asc" ]],
                    "bProcessing": true,
                    "bServerSide": true,
                    "bFilter": true,
                    "sAjaxSource": Routing.generate('yon_rank_list_ajax',{
                                    'contestId' : 1
                            }),
                    "oLanguage": {
                        "sProcessing": "traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédante", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                        "sEmptyTable": "Aucun classement trouvé"
                        
                    },
                    "drawCallback": function(settings) {
                        $('.title-count').html(settings.json.iTotalRecords);
                        //do whatever  
                     },
                });
            });
            
	</script>
{% endblock %}
