{% extends '::baseAdmin.html.twig' %}
{% form_theme edit_form ':Form:fields.html.twig' %}
{% block title %}{{ parent() }} Edition Paris {% endblock %}
{% set menuParis = true %}
{% set menuParisList = true %}

{#{% block body %}
    <h1>ApiChallenge edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('apichallenge_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}#}
{% block stylesheets %}
    {{ parent() }}
        <style>
            #api_challenge_choice_hashtag_1 {
                margin-left: 10px;
            }
            .toggleHashtag{
                display: none;
            }
        </style>
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form role="form" class="form-edit-new form-horizontal" method="POST" action="">

                    <div class="box-header">
                        <h3 class="box-title">Edition Paris</h3>
                    </div>
                    {{ form_start(edit_form) }}
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label required">Auteur</label>
                            <div class="col-sm-5">
                                <input readonly="readonly" type="text" class="form-control"  name="to_belong_to_user" id="utilisateurs_to_belong_to_user" value="{% if apiChallenge.user is defined %}{{ apiChallenge.user.id }} {% endif %}">
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control"  id="to_belong_to_user" value="" placeholder="Rechercher l'utilisateur ici">
                            </div>
                        </div>
{#                        {{ form_widget(edit_form) }}#}
                        {{ form_row(edit_form.title) }}
                        {{ form_row(edit_form.duration) }}
                        {{ form_row(edit_form.startDate) }}
                        {{ form_row(edit_form.endDate) }}
                        {{ form_row(edit_form.choice_hashtag) }}
                        <div id="trends-container" class="toggleHashtag">
                            {{ form_row(edit_form.trendingTopics) }}
                        </div>
                        <div id="manual-container" class="toggleHashtag">
                            {{ form_row(edit_form.hashtag_user) }}
                        </div>
                        {{ form_row(edit_form.contest) }}
                        {{ form_row(edit_form.color) }}
                        {{ form_row(edit_form.result) }}
                        {{ form_row(edit_form.betPrice) }}
                        {{ form_row(edit_form.prize) }}
                        {{ form_row(edit_form.status) }}
                    </div>

                    <div class="box-footer">
                        <input type="submit" value="Enregistrer" class="btn btn-primary">
                        <a class="btn btn-default pull-left" href="{{ path('apichallenge_index') }}">Retour à la liste</a>
                        <input type="button" value="Supprimer" class="btn btn-danger pull-right" onclick="confirmDelChallenge('{{ apiChallenge.id }}');">
                    </div>
                    {{ form_end(edit_form) }}
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
            $(function () {
                {% if isTrending %}
                    $('#trends-container').show();
                {% else %}
                    $('#manual-container').show();
                {% endif %}
                $('input[name="api_challenge[choice_hashtag]"]').change(function() {
                    $('.toggleHashtag').hide();
                    if (this.value == 'trends') {
                        $('#trends-container').show();
                    }
                    else if (this.value == 'manuel') {
                        $('#manual-container').show();
                    }
                });
                
                function log( message ) {
                    $( "#utilisateurs_to_belong_to_user" ).val(message.item.id) ;
                }
                
                $( "#to_belong_to_user" ).autocomplete({
                    source: "{{ path('yon_user_autocomplete') }}",
                    minLength: 2,
                    select: function( event, ui ) {
                      setTimeout(log(ui), 100);
                    },
                    open: function() {
                        $('.ui-menu').width(350);
                    }
                });
                
                /* https://eonasdan.github.io/bootstrap-datetimepicker/ */
                $('#api_challenge_startDate').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm'
                    //defaultDate: "11/1/2013",
                    /*disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        "11/22/2013 00:53"
                    ]*/
                });
                $('#api_challenge_endDate').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm'
                });
                $("#api_challenge_endDate").on("dp.change", function(e) {
                    
                    var start = moment.utc($('#api_challenge_startDate').val(), 'DD/MM/YYYY HH:mm');
                    var end = e.date.utc();
                    zdiff = moment(end.diff(moment(start))).format('HH:mm');
                    $('#api_challenge_duration').val(zdiff);
                });
                 var start = moment.utc($('#api_challenge_startDate').val(), 'DD/MM/YYYY HH:mm');
                var end = moment.utc($('#api_challenge_endDate').val(), 'DD/MM/YYYY HH:mm');
                zdiff = moment.utc(end.diff(start)).format('HH:mm');
                $('#api_challenge_duration').val(zdiff);
            });
            
            function confirmDelChallenge(challengeId){
                bootbox.confirm({
                    title: "Voulez vous vraiment supprimer le paris?",
                    message: "Le paris sera supprimer definitivement dans la base",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Non'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Oui'
                        }
                    },
                    callback: function (result) {
                        if(result){
                            $.ajax({
                                type: "POST",
                                url: '{{ path('apichallenge_delete_ajax')}}',
                                cache: false,
                                data: {challengeId: challengeId},
                                success: function(response){
                                    if(response.code == 'success') {
                                        window.location.href = '{{ path('apichallenge_index') }}';
                                    } else {
                                      console.log(response.message);  
                                    }
                                }
                            });
                        }
                    }
                });
            }
            
	</script>
{% endblock %}
