{% extends 'baseAdmin.html.twig' %}
{% block title %}{{ parent() }}Liste des paris{% endblock %}
{% set menuParis = true %}
{% set menuParisAll = true %}
{% set statusVal = app.session.get('statusValue') %}
{% set dfin = app.session.get('dfin') %}
{% set ddeb = app.session.get('ddeb') %}
{% if(statusVal is null) %}
    {% set statusValue = "" %}
{% else %}
    {% set statusValue = app.session.get('statusValue') %}
{% endif %}
{% block stylesheets %}
    {{ parent() }}
<style type="text/css">
    #list-users_length, #list-users_filter {
        margin: 10px;
    }
    .btn-mini-rectif{
        margin-right: 5px;
    }
    .status-filter {
            bottom: -37px;
            left: 330px;
            position: relative;
            width: 400px;
            z-index: 2;
        }
    .list-count {
        font-size: 2.1em;
        font-weight: bold;
        text-align: center;
    }
    .date_filter{
        width:190px !important;
    }
    .status_filter{
        width:455px !important;
    }
</style>
{% endblock %}
{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="callout callout-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="callout callout-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
        
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Liste des paris</h3>
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>

                    {#<div class="box-tools">
                        <div style="width: 150px;" class="input-group input-group-sm">
                            <input type="text" placeholder="Search" class="form-control pull-right" name="table_search">

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>#}
                </div>
                <!-- /.box-header -->
                <!--div class="status-filter">
                    
                </div-->
                <div class="box-body">  
                    {#<div class="row">
                        <label for="status"> Status:</label>
                        <select id="status">                       
                            <option value="">Tous les paris</option>

                            {% for keyStatus,valueStatus in valStatus %}
                                <option  {% if(statusValue != "")%}{% if (statusValue == keyStatus) %} selected="selected" {% endif %}{% endif %} value="{{ keyStatus }}">{{ valueStatus }}</option>
                            {% endfor %}

                            <option value="0">paris en cours</option>
                            <option value="1">paris en attente de réponse</option>
                            <option value="2">paris passés</option>
                            <option value="3">paris expiré</option>
                            <option value="4">paris à venir</option>                      
                        </select>
                        <label for="status"> Heure de début:</label>
                        <input class="form-control" id="date_deb_filter" placeholder="Date de début" type="text">
                        <label for="status"> Heure de Fin:</label>
                        <input class="form-control" id="date_fin_filter" placeholder="Date de fin" type="text">
                        <label for="status"> Nombre de participant:</label>
                        <input class="form-control" id="nb_participant_filter" placeholder="Nombre de participant" type="number">
                    </div>#}
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="status" class="col-sm-2 control-label">Status:</label>
                            <div class="col-sm-3">
                                <select id="status" class="form-control status_filter">                       
                                    <option value="">Tous les paris</option>
                                    {% for keyStatus,valueStatus in valStatus %}
                                        <option  {% if(statusValue != "")%}{% if (statusValue == keyStatus) %} selected="selected" {% endif %}{% endif %} value="{{ keyStatus }}">{{ valueStatus }}</option>
                                    {% endfor %}
                                </select>
                            </div >
                        </div>                       
                        <div class="form-group">
                            <label for="hdeb" class="col-sm-2 control-label"> Heure de début:</label>
                            <div class="col-sm-2 form-inline">
                               De <input type="text" id="date_deb_filter" placeholder="Heure de début" class="form-control date_filter">
                            </div>
                            <div class="col-sm-2 form-inline">
                                à <input type="text"  id="date_fin_filter" placeholder="Heure de Fin" class="form-control date_filter">
                            </div>
                            <div class="col-sm-3">
                                <div id=""></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nbparticipant" class="col-sm-2 control-label"> Nombre de participant:</label>
                            <div class="col-sm-2 form-inline">
                                De <input type="number" id="nb_participant_filter_deb" placeholder="Nombre de participant" class="form-control">
                            </div>
                            <div class="col-sm-2 form-inline">
                                à <input type="number"  id="nb_participant_filter_fin" placeholder="Nombre de participant" class="form-control"{#onkeyup="comparerValeurParticipant(this);"#}>
                            </div>
                            <div class="col-sm-3">
                                <div id="info_error"></div>
                            </div>
                            
                        </div>
                        <div class="box-footer">
                            <button  class="btn btn-primary" id="btn_filter">Rechercher</button>
                        </div>
                    </div>
                    <br/>
                    <table id="list-users" class="table  table-bordered table-striped">
                        <thead >
                             <tr>
                                <th>Id</th>                                
                                <th>Intitulé</th>
                                <th>Auteur</th>
                                <th>Heure de début</th>
                                <th>Heure de fin</th>
                                <th>hashtag</th>
                                <th>Nb de participants</th>
                                <th>Taux de réponse des différents choix</th>
                                <th>Concours</th>
                                <th>Resultat</th>
                                {#<th>Betscount</th>
                                <th>Commentscount</th>
                                <th>Winnerscount</th>
                                <th>Status</th>
                                <th>Popularityscore</th>
                                <th>Startdate</th>
                                <th>Enddate</th>
                                <th>Creation</th>
                                <th>Delayedresult</th>#}
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                {#<div class="box-footer">
                    <a class="btn btn-primary pull-left" href="{{ path('apichallenge_moderate') }}">Moderer 50 paris</a>
                </div>#}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
	<script type="text/javascript">
            var datat = null; 
            var routeParis = Routing.generate('yon_paris_list_ajax',{
                    'authUserId': '{{ authUserId }}'
            });
            {% if app.session.get('parisListAjaxUrl') %}
                routePari = "{{ app.session.get('parisListAjaxUrl')}}";
                routeParis = routePari.replace("&amp;", "&");
            {% endif %}
              
            $(function () {
                
                $('#date_deb_filter').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                    //minDate: moment()
                });
                
                $("#date_deb_filter").on("dp.change", function(e) {
                    //$('#date_fin_filter').val(e.date.add(0, 'hours').format('DD/MM/YYYY HH:mm'));
                    $('#date_fin_filter').data("DateTimePicker").minDate(moment(e.date, 'DD/MM/YYYY HH:mm'));
                });
                
                $('#date_fin_filter').datetimepicker({
                    format: 'DD/MM/YYYY HH:mm',
                });
                $('#list-users').DataTable(
                {
                    "pageLength": 100,
                    "aoColumns": [
                        {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true},
                        {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": true}, {"bSortable": false}],
                    "aoColumnDefs": [{"bVisible":false,"aTargets":[9] }],
                    "order": [[ 0, "desc" ]],
                    "bProcessing": true,
                    "bServerSide": true,
                    "bFilter": true,
                    "stateSave": true,
                    "sAjaxSource": routeParis,                    
                    "oLanguage": {
                        "sProcessing": "traitement...",
                        "oPaginate": {
                            "sPrevious": "Précédante", // This is the link to the previous page
                            "sNext": "Suivante", // This is the link to the next page
                        },
                        "sSearch": "Filtrer: ",
                        "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                    },
                    "drawCallback": function(settings) {
                        $('.title-count').html(settings.json.iTotalRecords);
                        //do whatever  
                     },
                     "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                        if (aData[9] == "yes" ||  aData[9] == "no")
                        {
                            $('td', nRow).css('background-color', 'dodgerblue');
                        }
                    },
                });
                datat = $("#list-users").DataTable();
                {#$('#status').change(function() {
                    
                    oTable = $('#list-users').dataTable();
                    var oSettings = oTable.fnSettings();
                    oSettings.sAjaxSource  = Routing.generate('yon_paris_list_ajax',{
                                    'status' : $('#status').val(),
                                    'authUserId': '{{ authUserId }}'
                            });
                    oTable.fnFilter($('.dataTables_filter input').val());
                } );#}
                
                $("#btn_filter").click(function(){
                    
                    var status      = $('#status').val();
                    var ddeb        = $('#date_deb_filter').val();
                    var dfin        = $('#date_fin_filter').val();
                    var nbpartdeb   = $('#nb_participant_filter_deb').val();
                    var nbpartfin   = $('#nb_participant_filter_fin').val();
                    
                    oTable          = $('#list-users').dataTable();
                    var oSettings   = oTable.fnSettings();
                    oSettings.sAjaxSource  = Routing.generate('yon_paris_list_ajax',{
                                    'ddeb' : ddeb,
                                    'dfin' : dfin,
                                    'nbpartdeb' : nbpartdeb,
                                    'nbpartfin' : nbpartfin,
                                    'status' : status,
                                    'authUserId': '{{ authUserId }}'
                            });
                    oTable.fnFilter($('.dataTables_filter input').val());
                })
                
                /*
                $("#nb_participant_filter_fin").bind('input', function(){
                    var nbParticipantFin = $(this).val();

                    var nbParticipantdeb = $("#nb_participant_filter_deb").val();
                    if (parseInt(nbParticipantFin) < parseInt(nbParticipantdeb))
                    {
                        $(this).val('');
                        $("#info_error").html("<font color='red'>Veuillez saisir un nombre supérieur ou égale à "+nbParticipantdeb+"</font>");
                    }else{
                        $("#info_error").html("");
                    } 
                });
                */
                
            });
            
            function addChallengeToContest(chalengeId){
                    bootbox.prompt({
                        title: "Choisir le concours à associer au paris",
                        inputType: 'select',
                        inputOptions: JSON.parse('{{ apiContests|raw }}'),
                        callback: function (contestId) {
                            if(contestId){
                                if(contestId != ""){
                                    $.ajax({
                                        type: "POST",
                                        url: '{{ path('apichallenge_add_challenge_to_contest_ajax')}}',
                                        cache: false,
                                        data: {challenge: chalengeId, contest: contestId},
                                        success: function(response){
                                            if(response.code == 'success') {
                                                console.log('success');
                                                datat.draw();
                                            } else {
                                                console.log(response.message);  
                                            }
                                        }
                                    });
                                } else {
                                    bootbox.alert("Vous devez choisir un concours");
                                }
                            }
                        }
                    });
            }
            
            function supprimerParis(challengeId){
                bootbox.confirm("Etes vous sur de vouloir supprimer ce paris?", function(result){ 
                    if(result){
                        $.ajax({
                            type: "POST",
                            url: '{{ path('apichallenge_delete_ajax')}}',
                            cache: false,
                            data: {challengeId: challengeId},
                            success: function(response){
                                if(response.code == 'success') {
                                    window.location.href = '{{ path('apichallenge_index') }}';
                                } else {
                                  console.log(response.message);  
                                }
                            }
                        });
                    }
                });
            }
            
            /*function comparerValeurParticipant(nbParticipant) {
                var nbParticipantFin = nbParticipant;

                var nbParticipantdeb = document.getElementById("nb_participant_filter_deb").value;
                if (parseInt(nbParticipantFin.value) < parseInt(nbParticipantdeb))
                {
                    $('#nb_participant_filter_fin').val('');
                    $("#info_error").html("Fin devrais supérieur à début");
                    //alert("Filtre nombre de participant fin dévrait supérieur à celle de nombre de participant début");
                }else{
                    $("#info_error").html("");
                } 
            }*/
            
	</script>
{% endblock %}

